{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workplaces list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workplace in workplaces %}
            <tr>
                <td><a href="{{ path('workplace_show', { 'id': workplace.id }) }}">{{ workplace.id }}</a></td>
                <td>{{ workplace.name }}</td>
                <td>{{ workplace.parent }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('workplace_show', { 'id': workplace.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('workplace_edit', { 'id': workplace.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workplace_new') }}">Create a new workplace</a>
        </li>
    </ul>
{% endblock %}
