{% extends 'base.html.twig' %}
{% block title %}Prihlásenie na kurz{% endblock %}
{% block body %}
     {% if is_granted('ROLE_USER') %}
         {% set futureInstance = false %}
         {% if date( enrolled.courseInstance.timestamp) > date() %}
             {% set futureInstance = true %}
         {% endif %}
         {% set rightWorkplace = false %}
         {% for workplace in workplaces %}
             {% if workplace in enrolled.courseInstance.courseType.workplaces %}
                 {% set rightWorkplace = true %}
             {% endif %}
         {% endfor %}
         {% set isEnrolled = false %}
         {% for enrolledUser in enrolled.courseInstance.enrolleds %}
             {% if enrolledUser.userId == app.user %}
                 {% set isEnrolled = true %}
             {% endif %}
         {% endfor %}
         {% if enrolled.courseInstance.capacity - enrolled.courseInstance.enrolleds|length > 0 and futureInstance and not isEnrolled and rightWorkplace %}

             <p class="text-center">Naozaj sa chcete prihlásiť na kurz<br> <b>{{ enrolled.courseInstance.courseType }}</b>?</p>

             {{ form_start(form) }}


             <label for="appbundle_enrolled_comment">Pridať poznámku: </label>
             {{ form_errors(form.comment) }}
             {{ form_widget(form.comment) }}
             <input type="submit" value="Potvrdiť" />

             {{ form_end(form) }}

         {% endif %}
    <p> <a href="/">Naspäť na kurzy</a> </p>
    {% endif %}
{% endblock %}
