{% extends 'base.html.twig' %}

{% block title %}Pridaj subadmina{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/courseinstanceStylesheet.css') }}" class="css">
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <div class="panel panel-default " id="panelInstance">
        <div class="panel-heading" id="panelInstanceHeading">
            <h4>Nový subadministrátor</h4>
        </div>

        <div class="panel-body" id="panelInstanceBody">
            {{ form_start(form2) }}
            <table id="editInstanceTable" cellspacing=10>

                <tr>
                    <td style="width: 20%;">
                        <label for="appbundle_workplace_subadmins">Používateľ: </label>
                    </td>
                    <td>
                        {{ form_widget(form) }}
                    </td>
                </tr>

                <tr>
                    <td style="width: 20%;">
                        <label for="appbundle_user_subadminWorkplaces">Súčasť: </label>
                    </td>

                    <td>
                        {{ form_widget(form2) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-left: 20%; padding-top: 3%;">
                        <input type="submit" value="Pridať" class="btn btn-danger"/>
                    </td>
                </tr>
            </table>

        {{ form_end(form2) }}

        </div>
    </div>

{% endif %}
{% endblock %}