{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
    <h1>Places list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Buildingid</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td><a href="{{ path('place_show', { 'id': place.id }) }}">{{ place.id }}</a></td>
                <td>{{ place.name }}</td>
                <td>{{ place.buildingId }}</td>
                <td>{% if place.created %}{{ place.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if place.updated %}{{ place.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if place.deleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('place_show', { 'id': place.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('place_edit', { 'id': place.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('place_new') }}">Create a new place</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
