{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

{% if is_granted('ROLE_USER') %}
        {% set empty = 'true' %}

        {% for courseType in courseTypes %}
            {% if courseType.visibility and not courseType.deleted %}
                {% set empty = 'false' %}

                   <div class="courseHeading">
                       <a href={{ path('coursetype_show', { 'id': courseType.id }) }}><h3>{{ courseType.name }}</h3></a>
                   </div>


                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel1{{ courseType.id }}" role="tab">O kurze</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel2{{ courseType.id }}" role="tab">Terminy</a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content card">


                        <!--Panel O KURZE-->
                        <div class="tab-pane fade in show active" id="panel1{{ courseType.id }}" role="tabpanel">
                            <br>
                            <p>
                                {{ courseType.description }}</p>
                            <table class="table-striped" style="width: 100%;">
                                <tr>
                                <th><b>Soft - mimoaplikačné:</b></th>
                                <th><b>Hard - vnútroaplikačné:</b></th>
                                </tr>

                                <tr>
                                    <td>
                                        {% if courseType.softPrerequisites|length > 0 %}
                                            <ol>
                                                {% for prerequisite in courseType.softPrerequisites  %}
                                                    <li>{{ prerequisite.value }}</li>
                                                {% endfor %}
                                            </ol>
                                        {% else %}
                                            <ul>
                                                <li>Tento kurz nemá žiadne mimoaplikačné prerekvizity.</li>
                                            </ul>
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if courseType.hardPrerequisites|length > 0 %}
                                            <ol>
                                                {% for prerequisite in courseType.hardPrerequisites  %}
                                                    <li>{{ prerequisite.name }}</li>
                                                {% endfor %}
                                            </ol>
                                        {% else %}
                                            <ul>
                                                <li>Tento kurz nemá žiadne vnútroaplikačné prerekvizity.</li>
                                            </ul>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <!--/.Panel O KURZE-->

                        <!--Panel TERMINY-->
                        <div class="tab-pane fade" id="panel2{{ courseType.id }}" role="tabpanel">
                        <br>
                        <table  width="700" class="table-striped">
                            {% set futureInstances = false %}
                            {% for instance in courseType.courseInstances %}
                                {% if date(instance.timestamp) > date() %}
                                    {% set futureInstances = true %}
                                {% endif %}
                            {% endfor %}
                            {% if not futureInstances %}
                                <tr>
                                    <td colspan="6">Pre tento kurz nie je momentálne vypísaný žiaden termín.</td>
                                </tr>
                            {% else %}
                                <tr >
                                    <th>Dátum konania </th>
                                    <th>Čas konania </th>
                                    <th>Miesto konania </th>
                                    <th>Školiteľ </th>
                                    <th>Obsadenosť </th>
                                    <th>Prihlásenie</th>
                                </tr>

                                {% for instance in courseType.courseInstances %}
                                    <tr>
                                        <td>{{ instance.timestamp|date('d.m.Y') }}</td>
                                        <td>{{ instance.timestamp|date('H:i') }}</td>
                                        <td>{{ instance.place }}</td>
                                        <td>{{ instance.supervisor }}</td>
                                        <td>{{ instance.enrolleds|length }}/{{ instance.capacity }}</td>

                                        {% set isEnrolled = false %}
                                        {% set enroll_id = false %}
                                        {% for enrolledUser in instance.enrolleds %}
                                            {% if enrolledUser.userId == app.user %}
                                                {% set enroll_id = enrolledUser.id %}
                                                {% set isEnrolled = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if instance.capacity - instance.enrolleds|length > 0 and not isEnrolled %}
                                            <td>
                                                <a href="{{ path('enrolled_new', { 'course_instance': instance.id }) }}" class="btn btn-default">
                                                    Prihlásiť sa
                                                </a>
                                            </td>
                                        {% elseif isEnrolled and date() < instance.disenrollDate %}
                                            <td>
                                                <a href="{{ path('enrolled_show', { 'id':  enroll_id  }) }}" class="btn btn-default">
                                                    Odhlásiť sa
                                                </a>
                                            </td>
                                        {% elseif isEnrolled %}
                                            <td class="text-muted">Ste prihlásený</td>
                                        {% else %}
                                            <td> </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                    <!--/.Panel TERMINY-->
                </div>
                <!--/.tabs -->

            {% endif %}
        {% endfor %}

    {% if empty == 'true' %}
        <div>Momentálne nie sú k dispozícii žiadne kurzy.</div>
    {% endif %}

{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}






{#
<table>

                    <tr>
                       <td colspan="2">{{ courseType.description }}</td>
                    </tr>
                    <tr>
                       <td><b>Soft - mimoaplikačné:</b></td>
                       <td><b>Hard - vnútroaplikačné:</b></td>
                    </tr>
                    <tr>
                        <td>
                            {% if courseType.softPrerequisites|length > 0 %}
                                <ol>
                                    {% for prerequisite in courseType.softPrerequisites  %}
                                        <li>{{ prerequisite.value }}</li>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                <ul>
                                    <li>Tento kurz nemá žiadne mimoaplikačné prerekvizity.</li>
                                </ul>
                            {% endif %}
                        </td>
                        <td>
                            {% if courseType.hardPrerequisites|length > 0 %}
                                <ol>
                                    {% for prerequisite in courseType.hardPrerequisites  %}
                                        <li>{{ prerequisite.name }}</li>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                <ul>
                                    <li>Tento kurz nemá žiadne vnútroaplikačné prerekvizity.</li>
                                </ul>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                        <table  width="700" class="table-striped">
                            {% set futureInstances = false %}
                            {% for instance in courseType.courseInstances %}
                                {% if date(instance.timestamp) > date() %}
                                    {% set futureInstances = true %}
                                {% endif %}
                            {% endfor %}
                            {% if not futureInstances %}
                                <tr>
                                    <td colspan="6">Pre tento kurz nie je momentálne vypísaný žiaden termín.</td>
                                </tr>
                            {% else %}
                                <tr >
                                    <th>Dátum konania </th>
                                    <th>Čas konania </th>
                                    <th>Miesto konania </th>
                                    <th>Školiteľ </th>
                                    <th>Obsadenosť </th>
                                    <th>Prihlásenie</th>
                                </tr>

                                {% for instance in courseType.courseInstances %}
                                    <tr>
                                        <td>{{ instance.timestamp|date('d.m.Y') }}</td>
                                        <td>{{ instance.timestamp|date('H:i') }}</td>
                                        <td>{{ instance.place }}</td>
                                        <td>{{ instance.supervisor }}</td>
                                        <td>{{ instance.enrolleds|length }}/{{ instance.capacity }}</td>

                                        {% set isEnrolled = false %}
                                        {% set enroll_id = false %}
                                        {% for enrolledUser in instance.enrolleds %}
                                            {% if enrolledUser.userId == app.user %}
                                                {% set enroll_id = enrolledUser.id %}
                                                {% set isEnrolled = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if instance.capacity - instance.enrolleds|length > 0 and not isEnrolled %}
                                            <td>
                                                <a href="{{ path('enrolled_new', { 'course_instance': instance.id }) }}" class="btn btn-default">
                                                    Prihlásiť sa
                                                </a>
                                            </td>
                                        {% elseif isEnrolled and date() < instance.disenrollDate %}
                                            <td>
                                                <a href="{{ path('enrolled_show', { 'id':  enroll_id  }) }}" class="btn btn-default">
                                                    Odhlásiť sa
                                                </a>
                                            </td>
                                        {% elseif isEnrolled %}
                                            <td class="text-muted">Ste prihlásený</td>
                                        {% else %}
                                            <td> </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                        </td>
                    </tr>
                </table>
            {% endif %}
        {% endfor %}

        {% if empty == 'true' %}
            <div>Momentálne nie sú k dispozícii žiadne kurzy.</div>
        {% endif %}

    {% endif %}
{% endblock %}
#}