{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_USER') %}
        {% set empty = 'true' %}

        {% for courseType in courseTypes %}
            {% if courseType.visibility and not courseType.deleted %}
                {% set empty = 'false' %}

            <p>
           <table width="700" class="table-striped">
               <tr>
                   <th class="alert-danger">{{ courseType.name }}</th>
               </tr>
               <tr>
                   <th class="btn-group btn-group-justified">

                       <a href="#" class="btn btn-default"> O KURZE</a>
                       <a href="#" class="btn btn-default">TERMÍNY</a>

                   </th>
               </tr>


               <tr>
                   <td>{{ courseType.description }}</td>
               </tr>
               <tr>
                   <td><b>Soft - mimoaplikačné:</b></td>
                   <td><b>Hard - vnútroaplikačné:</b></td>
               </tr>
               <tr>
                   <td>
                       <ol>
                           {% set spSet = courseType.softPrerequisites|split(', ') %}
                           {% for sp in spSet %}
                               <li>{{ sp }}</li>
                           {% endfor %}
                       </ol>
                   </td>
                   <td>
                       <ol>
                           {% for hp in courseType.hardPrerequisites %}
                               <li>{{ hp.name }}</li>
                           {% endfor %}
                       </ol>
                   </td>
               </tr>

                <tr>
                    <table  width="700" class="table-striped">
                        <tr >
                            <th>Dátum konania </th>
                            <th>Čas konania </th>
                            <th>Miesto konania </th>
                            <th>Školiteľ </th>
                            <th>Obsadenosť </th>
                            <th>Prihlásenie</th>
                        </tr>
                     {% for instance in courseType.courseInstances %}
                            <tr>
                                <td>{{ instance.timestamp|date('d.m.Y') }}</td>
                                <td>{{ instance.timestamp|date('H:i') }}</td>
                                <td>{{ instance.place }}</td>
                                <td>{{ instance.supervisor }}</td>
                                <td>{{ instance.enrolleds|length }}/{{ instance.capacity }}</td>
                                <td><a href="{{ path('enrolled_new', { 'course_instance': instance.id }) }}" class="btn btn-default">Prihlásiť sa</a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </tr>


               <!--       <tr>
            <td><a href="{{ path('coursetype_show', { 'id': courseType.id }) }}">{{ courseType.id }}</a></td>
                <td>{{ courseType.description }}</td>
                <td>{{ courseType.softPrerequisites }}</td>
                <td>{% if courseType.visibility %}Yes{% else %}No{% endif %}</td>
                <td>{% if courseType.deleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('coursetype_show', { 'id': courseType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('coursetype_edit', { 'id': courseType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
               </tr> -->
           </table>
            </p>
            {% endif %}
        {% endfor %}

        {% if empty == 'true' %}
            <div>Momentálne nie sú k dispozícii žiadne kurzy.</div>
        {% endif %}

  <!--  <ul>
        <li>
            <a href="{{ path('coursetype_new') }}">Create a new courseType</a>
        </li>
    </ul> -->
{% endif %}
{% endblock %}
