{% extends 'base.html.twig' %}
{% block title %}Zoznam prihlásených{% endblock %}
{% block body %}

{% if is_granted('ROLE_SUPERVISOR') and courseInstance.supervisor.id == app.user.id %}
    <h4>Zoznam prihlásených na kurz {{ courseInstance.courseType.name }}</h4><br>
    <div>
        {% if courseInstance.enrolleds|length == 0 %}
            {% if date(courseInstance.timestamp) > date()  %}
                Na tento termín kurzu nie je momentálne nikto prihlásený.
            {% else %}
                Na tomto termíne kurzu sa nikto nezúčastnil.
            {% endif %}

        {% else %}
        <b>Prihlásení</b><br><br>


        {% if date(courseInstance.timestamp) < date()  %}
                {{ form_start(edit_form) }}
        {% endif %}
                <table>
                    <tr>
                        <th>Meno</th>
                        <th>Poznámka</th>
                        {% if date(courseInstance.timestamp) < date()  %}
                        <th>Zúčastnil sa</th>
                        <th>Absolvoval</th>
                        {% endif %}
                    </tr>


        {% set i = 0 %}
        {% for e in edit_form.enrolleds %}
    <tr>
        <td>{{ courseInstance.enrolleds[i].userId }}</td>
        <td>{{ courseInstance.enrolleds[i].comment }}</td>
            {% set i = i+1 %}
            {% if date(courseInstance.timestamp) < date()  %}
            <td> {{ form_errors(e.attended) }}
                {{ form_widget(e.attended) }}</td>


<td> {{ form_errors(e.graduated) }}
    {{ form_widget(e.graduated) }}</td>


            {% endif %}



    </tr>

        {% endfor %}

                </table>
        {% if date(courseInstance.timestamp) < date()  %}
                <input type="submit" value="Potvrdiť" />
                {{ form_end(edit_form) }}
        {% endif %}
        {% endif %}
    </div>




            <br>

            <a {% if courseInstance.enrolleds|length == 0 %}
                class="btn disabled"
            {% else %}
                class="btn btn-default"
            {% endif %}  href="{{ path('enrolled_users_pdf', { 'id': courseInstance.id }) }}">Tlačiť zoznam prihlásených</a>
    <br><br>
<ul>
          <li><a href="{{ path('supervised', { 'id': app.user.id }) }}">Naspäť</a></li>
</ul>
{% endif %}
{% endblock %}
